---
layout: layout.njk
title: Latest News
description: Breaking news updates
---

<h2>Latest News</h2>
{% for article in news %}
  <div>
    <h3><a href="/articles/{{ article.title | slug }}/">{{ article.title }}</a></h3>
    {% if article.image_url %}
      <img src="{{ article.image_url }}" alt="">
    {% endif %}
    <p>{{ article.description }}</p>
    <small>{{ article.pubDate }}</small>
  </div>
{% endfor %}