---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <lastmod>{{ "now" | dateISO }}</lastmod>
    <changefreq>daily</changefreq>
    <priority>1.0</priority>
  </url>

  {% for article in news %}
    {% if article.pubDate %}
    <url>
      <loc>{{ site.url }}/articles/{{ article.title | slug }}/</loc>
      <lastmod>{{ article.pubDate | dateISO }}</lastmod>
      <changefreq>daily</changefreq>
      <priority>0.8</priority>
    </url>
    {% endif %}
  {% endfor %}
</urlset>
