---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
layout: null
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for article in news %}
  <url>
    <loc>{{ site.url }}/articles/{{ article.title | slug }}/</loc>
    <lastmod>
      {% if article.pubDate %}
        {{ article.pubDate | dateISO }}
      {% else %}
        {{ "now" | dateISO }}
      {% endif %}
    </lastmod>
  </url>
{% endfor %}
<url>
  <loc>{{ site.url }}/</loc>
  <lastmod>{{ "now" | dateISO }}</lastmod>
</url>
</urlset>
